<ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="<%= admin_path %>">Dashboard</a>
    </li>
</ol>

<!-- Icon Cards -->
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-primary o-hidden h-100">
          <div class="card-block">
              <div class="card-block-icon">
                  <i class="fa fa-fw fa-folder-open-o"></i>
              </div>
              <div class="mr-5">
                  <%= @number_of_albums %> Albums
              </div>
          </div>
          <a href="<%= admin_albums_path %>" class="card-footer clearfix small z-1">
              <span class="float-left">View Details</span>
              <span class="float-right"><i class="fa fa-angle-right"></i></span>
          </a>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-success o-hidden h-100">
          <div class="card-block">
              <div class="card-block-icon">
                  <i class="fa fa-fw fa-picture-o"></i>
              </div>
              <div class="mr-5">
                  <%= @number_of_photos %> Photos
              </div>
          </div>
          <a href="<%= admin_albums_path %>" class="card-footer clearfix small z-1">
              <span class="float-left">View Details</span>
              <span class="float-right"><i class="fa fa-angle-right"></i></span>
          </a>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-warning o-hidden h-100">
          <div class="card-block">
              <div class="card-block-icon">
                  <i class="fa fa-fw fa-font"></i>
              </div>
              <div class="mr-5">
                  <%= @number_of_content_blocks %> Content Blocks
              </div>
          </div>
          <a href="<%= admin_content_blocks_path %>" class="card-footer clearfix small z-1">
              <span class="float-left">View Details</span>
              <span class="float-right"><i class="fa fa-angle-right"></i></span>
          </a>
      </div>
  </div>
</div>

<script>
$(function() {
  $('.nav-item').removeClass('active');
  $('.nav-item.nav-dashboard-item').addClass('active');
});
</script>
