<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="<%= admin_albums_path %>">Albums</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%= edit_admin_album_path(@album) %>"><%= @album.title %></a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%= admin_album_photos_path(@album) %>">Photos</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="<%= new_admin_album_photo_path(@album) %>">New</a>
  </li>
</ol>

<%= form_for :photo, url: url_for(controller: 'photos', action: 'create') do |f| %>
  <%= f.label :caption %>
  <%= f.text_area :caption, class: 'form-control' %><br />
  <%= f.file_field :image, class: 'form-control' %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit 'Add Photo', class: 'btn btn-primary' %>
<% end %>

<script>
$(function() {
  $('.nav-item').removeClass('active');
  $('.nav-item.nav-galleries-item').addClass('active');
});
</script>
