<% @content_blocks.each do |c| %>
  <%= form_for c, url: admin_content_block_path(c) do |f| %>
    <h3><%= c.title.capitalize.gsub('_', ' ') %></h3>
    <% if c.title != 'homepage_youtube_video' %>
      <%= f.text_area :content, class: 'form-control' %><br />
    <% else %>
      <%= f.text_field :content, class: 'form-control' %><br />
    <% end %>
    <%= f.submit 'Update', class: 'btn btn-primary', style: 'margin-bottom: 50px;' %>
  <% end %>
<% end %>

<script>
$(function() {
  $('.nav-item').removeClass('active');
  $('.nav-item.nav-content-item').addClass('active');
});
</script>
